/* pseudoclases */

.enlacesNav:hover {
    color: $naranja;
}


.link:hover {
    color: $verde;
    filter: invert(25%) sepia(99%) saturate(383%) hue-rotate(346deg) brightness(94%) contrast(95%);
}

.enlacesFt:hover {
    color: $negro;
}


.btnCard:hover {
    background-color: $naranja;
}


.enlacesIm:hover {
    color: $naranja;
}

.btnSearch:hover,
.btnForm:hover {
    background-color: $negro;
}